.qodef-side-menu-button-opener .qodef-side-menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    width: 100%;
    line-height: 3px;
}

.qodef-dot{
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    margin: 0 2px 2px 0;
    border-radius: 50%;
    background-color: #110729;
    -webkit-transition: opacity .3s cubic-bezier(.07,.52,0,.93);
    -moz-transition: opacity .3s cubic-bezier(.07,.52,0,.93);
    transition: opacity .3s cubic-bezier(.07,.52,0,.93);
    color:#110729;

}

.qodef-side-menu-button-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    line-height: 1;
    margin: 0 10px;
}


